@import 'bootstrap/scss/bootstrap';

/*
- Mobile: 375px
- Desktop: 1440px
*/

$primary: hsl(259, 100%, 65%);
$secondary: hsl(0, 100%, 67%);
$light: hsl(0, 0%, 94%);
$dark: hsl(0, 0%, 8%);
$muted: hsl(0, 0%, 86%);
$grey: hsl(0, 1%, 44%);

html,
body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    background-color: $light;
    display: flex;
    align-items: center;
}

.btn {
    background-color: $primary;
    border-color: $primary;
    border-radius: 9999px;
    padding: 0;
    width: 60px;
    height: 60px;
    
    @include media-breakpoint-up(md) {
        width: 90px;
        height: 90px;
    }

    &:hover {
        background-color: $black;
        border-color: $black;
    }
}

.result {
    color: $primary;
    margin-right: 0.5rem;
}

.form-label {
    color: $grey;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3px;
}

.form-control {
    caret-color: $primary;
    font-size: 18px;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;

    &.error {
        border-color: $secondary;
    }
    
    @include media-breakpoint-up(md) {
        font-size: 24px;
        padding: 0.75rem 1.5rem;
    }

    // &::placeholder {
    //     font-size: 24px;
    // }

    &:focus {
        box-shadow: none;
        border-color: $primary;
    }
}

.results {

    ul {

        li {
            font-style: italic;
            font-weight: 700;
            color: $black;
            font-size: 54px;
            line-height: 60px;
            
            @include media-breakpoint-up(md) {
                line-height: 111px;
                font-size: 100px;
            }
        }
    }
}

.calculator-main {
    margin-right: auto;
    margin-left: auto;
    
    .calculator-wrapper {
        border-radius: 20px;
        background-color: $white;
        border-bottom-right-radius: 100px;
        padding: 1.5rem;
        
        @include media-breakpoint-up(md) {
            border-bottom-right-radius: 180px;
            min-width: 780px;
            padding: 3rem;
            padding-top: 2rem;
        }
    }
}

hr {
    color: $grey;
    border-width: 2px;
}

.submit-column {
    position: relative;

    .btn {
        position: absolute;
        top: 50%;
        z-index: 1;
        right: 50%;
        transform: translate(50%, -50%);

        img {
            
            @include media-breakpoint-down(sm) {
                width: 25px;
            }
        }
        
        @include media-breakpoint-up(md) {
            right: 0;
            transform: translateY(-50%);
        }
    }
}

.fields-row {
    max-width: 510px;
}

.error {
    color: hsl(0, 100%, 67%);
}

.error-message {
    font-size: 12px;
    font-style: italic;
    color: $secondary;
}
